<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

  <title>Página de PEF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "css/estilo.css" %}" />
  <script src="{% static "js/homeScript.js" %}"></script>
  <style>

  </style>
</head>
<body id="myPage" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div id="menu" class="container">
    <div id="links">
        <a class="dp btn dropBut" href="#">Home</a>
        <div class="dropagem">
          <a id="resumosBut" class="dp btn dropBut" href="#">Educação</a>
          <div id="listaResumos" class="dp droplist" >    
              <a href="{% url 'lorem1' %}">Lorem1 </a>
              <a href="{% url 'lorem1' %}">Lorem2 </a>
              <a href="{% url 'lorem1' %}">Lorem3 </a>
            </div>
          </div>
          <div class="dropagem">
          <a id="educacaoBut" class=" btn dropBut" href="{% url 'pratique' %}">Pratique</a>
          </div>
        <a class="dp btn dropBut" href="{% url 'modeloInterativo' %}">Modelo Interativo</a>
      </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Mecânica das estruturas</h1> 
  <p>Tente aprender um pouco mais</p> 
</div>


<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Seja bem-vindo ao nosso site</h2><br>
      <h4 style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <div class="fotos row">
            <div id="img1" class="col-sm-4 galeria img-responsive" >
              <div class="tituloMateria"><a href="#">Curiosidades</a></div>
              <div class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. </div>
            </div>
            <div id="img2" class="col-sm-4 galeria">
              <div class="tituloMateria"><a href="#">Curiosidades</a></div>
              <div class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. </div>
            </div>
          </div>
      <br><button class="btn btn-default btn-lg">Sobre nós</button>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div id="panel1" class="col-sm-4 meupanel">
        <a href="#"><div class="panel-heading">Lorem</div></a>
        <div  class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. Nullam aliquam diam sit amet arcu bibendum, at sodales neque volutpat. Pellentesque placerat diam a ante condimentum ornare.
      </div>
    </div>
    <div class="col-sm-8">
      <h2>Modelo Interativo</h2><br>
      <h4><strong>Como o modelo é foda</strong>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. Nullam aliquam diam sit amet arcu bibendum, at sodales neque volutpat. Pellentesque placerat diam a ante condimentum ornare.</h4><br>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center">
  <h2>Resumos</h2>
  <h4>Tipos de resumos</h4>
  <br>
  <div class="row slideanim">
    <div id="panel3" class="col-sm-4 meupanel">
        <a href="#"><div class="panel-heading">Lorem</div></a>
        <div  class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. Nullam aliquam diam sit amet arcu bibendum, at sodales neque volutpat. Pellentesque placerat diam a ante condimentum ornare.
      </div>
    </div>
    <div id="panel3" class="col-sm-4 meupanel">
        <a href="#"><div class="panel-heading">Lorem</div></a>
        <div  class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. Nullam aliquam diam sit amet arcu bibendum, at sodales neque volutpat. Pellentesque placerat diam a ante condimentum ornare.
      </div>
    </div>
    <div id="panel3" class="col-sm-4 meupanel">
        <a href="#"><div class="panel-heading">Lorem</div></a>
        <div  class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus lectus ante. Nullam aliquam diam sit amet arcu bibendum, at sodales neque volutpat. Pellentesque placerat diam a ante condimentum ornare.
      </div>
    </div>
  </div>
</div>
<div id="carrosel" class="conteudo conteiner-fluid bg-3 text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "images/f.jpg" %}" alt="Los Angeles">
        </div>

        <div class="item">
          <img src="{% static "images/f.jpg" %}" alt="Chicago">
        </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
  <div>

    <footer id="direitos">
      <strong>Todos os direitos Reservados Grupo de PEF</strong>
    </footer>

  </div>

</body>
</html>